@model ShoppingCartVM

<div class="row checkoutForm">
    <h2>Your shopping cart</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Name</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.shoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@line.Amount</td>
                    <td class="text-left">@line.Product.Name</td>
                    <td class="text-right">Ksh @line.Product.Price</td>
                    <td class="text-right">
                        @((line.Amount * line.Product.Price))
                    </td>
                    <td class="text-center"><a asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-id="@line.Product.ProductId">Remove</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.CartTotal
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out</a>
            <a asp-controller="Home" asp-action="Index" class="btn-group">
                <p class="btn btn-default">
                    Go Back to shopping
                </p>

            </a>
        </div>
    </div>
</div>